:root {
  --clr-invalid: hsl(13.5, 81%, 32.1%);
  --clr-valid: #10a510;
  --clr-normal: #eff2ce;
  --clr-sec-accent: #e4ede5;
  --clr-pri-accent: #052d0a;
  --clr-transparent: rgba(0 0 0 / 0.4);
  --clr-text: #181818;

  --md-dim: 50px;
  --fs-xsm: 0.8rem;
  --fs-xxsm: 0.58rem;
  --fs-sm: 1rem;
  --fs-md: 1.5rem;
  --fs-lg: 2rem;

  --container-width: 610px;
  --sm-gap: 5px;

  --box-shadow-transparent: 0 0 5px var(--clr-transparent);

  --br-sm: 5px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: clamp(var(--fs-xsm), var(--fs-xsm) + 0.3vw, var(--fs-sm));
}
.container {
  width: min(95%, var(--container-width));
  margin: 0 auto 0;
  display: grid;
  height: calc-size(max-content, size + 100px);
  padding-top: 5px;
}

input {
  &:where(:invalid, :valid) {
    border: 2px solid;
    border-color: var(--clr-transparent);
  }

  &.user-interact:invalid {
    border-color: var(--clr-invalid);
  }

  &.user-interact:valid {
    border-color: var(--clr-valid);
  }
  &.invalid {
    border-color: var(--clr-invalid);
  }
}
:focus {
  outline: none;
}
.show-message {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  transform: translateY(100%);
  font-size: clamp(var(--fs-xxsm), var(--fs-xxsm) + 0.8vw, var(--fs-sm));
  font-style: italic;

  &.invalid {
    color: var(--clr-invalid);
  }
  &.valid {
    color: var(--clr-valid);
  }
}

#confirm-password {
  &.invalid {
    border-color: var(--clr-invalid);
  }
  &.valid {
    border-color: var(--clr-valid);
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--md-dim);
  background: var(--clr-sec-accent);
  font-size: clamp(var(--fs-sm), var(--fs-sm) + 1vw, var(--fs-md));
  color: var(--clr-pri-accent);
  grid-column: 1 / -1;
  border-radius: var(--br-sm);
  padding: 35px 0;
}

form {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--container-width) / 2.2 - var(--sm-gap)), 1fr)
  );
  gap: 20px;
  color: var(--clr-text);
  padding: 20px;
  box-shadow: var(--box-shadow-transparent);
  border-radius: var(--br-sm);
}

form > div {
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: relative;
}
select {
  border: 2px solid var(--clr-transparent);
}
input,
select {
  height: 50px;
  padding-left: 10px;
}
input {
  border-radius: 5px;
  border-style: solid;
  &::placeholder {
    color: var(--clr-transparent);
  }
}

.password, .confirm-password{
  margin-top: 10px;
}

.email {
  grid-column: 1/-1;
}
.btn-submit {
  margin-top: 20px;
  max-width: 120px;
  padding: 10px;
  border-radius: 5px;
  background: var(--clr-pri-accent);
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: var(--box-shadow-transparent);
  cursor: pointer;
}
.display-form-feedback{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  
  &::backdrop{
    backdrop-filter: blur(3px);
  }
}
.display-form-feedback-content{
  min-height: 100px;
  min-width: 100px;
  border-radius: var(--br-sm);
  box-shadow: var(--box-shadow-transparent);
  background-color: var(--clr-valid);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.html-entity{
  font-size: clamp(var(--fs-md), var(--fs-md) + 0.3vw, var(--fs-lg));
}
.feedback{
  text-align: center;
  color: var(--clr-sec-accent);
  font-weight: 900;
}
.close-form-feedback{
  position: absolute;
  font-weight: 900;
  color: var(--clr-text);
  top: 10px;
  right: 10px;
  cursor: pointer;
}